body{
  font-family: $ff-main;
  font-size: 1rem;
  line-height: 1.2;
}

html{
  box-sizing: border-box;

  @media (max-width: $tablet) {
    font-size: 14px;
  }
}

*,*:after,*:before{
  box-sizing: inherit;
}

ul,ol{
  list-style-type: none;
}