.hero{
  min-height: 590px;
  padding: 150px 0;
  text-align: center;
  color:#fff;
  background: #ccc url("../images/hero-bg.jpg")  center/cover no-repeat;

  @media (max-width:$tablet) {
    padding: 85px 20px;
    min-height: inherit;
  }

  @media (max-width:$mobil__l) {
    padding: 60px 15px;
    min-height: inherit;
  }

  &About{
    font-family: $ff-main-bold;
    font-size: 3rem;
    line-height: 1;

    @media (max-width: $mobil__m) {
      font-size: 2.5rem;
    }
  }

  &Title{
    margin-top: 0;
    margin-bottom: 25px;
    font-family: $ff-main-light;
    font-weight: normal;
  }
  .buttonYellow{
    padding: 21px 41px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;

    @media (max-width: $mobil__m) {
      font-size: 1.2rem;
    }
  }
}