.nav{
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;

  @media (max-width: $mobil__m) {
    text-align: center;
  }


  &Link{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-family: $ff-main-bold;
    text-decoration: none;
    color: $headerColorContact;
    transition: 0.3s;

    &:hover,&Active{
      color: $headerBottomColorLinkActive;
    }

    &:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 5px;
      width: 5px;
      margin-left:15px ;
      margin-bottom: 1px;
      border-radius: 50%;
      background-color: $headerColorContact;

      @media (max-width: $mobil__m) {
        height: 3px;
        width: 3px;
      }
    }

    &:last-child:after{
      display: none;
    }
  }
}