section.about
    .conteiner
        .title.titleBottomLine
            h2.title.titleHeader
                a(name="About Us") About Us
            .titleText We are added our major Services

        ul.aboutList
            li.aboutItem
                .icon.iconLike
                h3.aboutHeader Facebook Marketing
                p.aboutDescription Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate ratione enim animi hic facilis fugiat, numquam sit!li.aboutItem
            li.aboutItem
                .icon.iconBook
                h3.aboutHeader landing pages Creation
                p.aboutDescription Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate ratione enim animi hic facilis fugiat, numquam sit!li.aboutItem
            li.aboutItem
                .icon.iconMassege
                h3.aboutHeader Ads management
                p.aboutDescription Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate ratione enim animi hic facilis fugiat, numquam sit!


