.contacts
    a.contact(href="tel:+380505050505")
        i.fa.fa-mobile.contactIcon(aria-hidden="true")
        span.contactText 0505050505
    a.contact(href="mailto:info@business.com")
        i.fa.fa-envelope.contactIcon.contactIconEmail(aria-hidden="true")
        span.contactText info@business.com
    a.facebookIcon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")