header.header
 .headerTop
     .conteiner
         include contacts
 .conteiner
    .headerBottom
        .logo: img.logoPicture(src="images/logo.png" alt="Logo picture")
        include nav
        a.button.headerButton.buttonRed(href='#') Free Consultation