section.work
    .conteiner
        .title.titleBottomLine
            h2.title.titleHeader
                a(name="Our Work") Our Work
            .titleText We are added our featured works below
        ul.workList
            li.workItem.workItemTitle
                .workTitle Project Name
                .workDescription Facebook marketing
            li.workItem
                img.workPicture(src='images/work-1.jpg' alt='Picture')

            li.workItem.workItemTitle
                .workTitle Project Name
                .workDescription Landing page
            li.workItem
                img.workPicture(src='images/work-2.jpg' alt='Picture')

            li.workItem
                img.workPicture(src='images/work-3.jpg' alt='Picture')
            li.workItem.workItemTitle
                .workTitle Project Name
                .workDescription Facebook marketing

            li.workItem
                img.workPicture(src='images/work-4.jpg' alt='Picture')
            li.workItem.workItemTitle
                .workTitle Project Name
                .workDescription Landing page